@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App{
     background-image:url('background2.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-style: 
     
}

.menu a{
    margin-right: 50px;
}

.paddingpage {
   padding: 50px;
}

.slider-container{
    margin: 40px;
}
.slick-prev:before, .slick-next:before {
    color: black;
}

.slider-container img {
    width: 95%;
}


.navbar{
    background: transparent !important;
    
    width: 100%;
}

.logo {
  margin-left: -10%;
}

.footer {
    padding-top: 100px;
}

.contactform {
    width: 50%;
}


.map {
    float: right;
    width: 600px; 
    height: 400px;
}

.textcontact {
    padding-bottom: 40px;
}

